<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>* </string>
		<key>shortcut</key>
		<string>あｓ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string># </string>
		<key>shortcut</key>
		<string>えｓ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>かける</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和稔</string>
		<key>shortcut</key>
		<string>かず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>\()</string>
		<key>shortcut</key>
		<string>かっこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〜</string>
		<key>shortcut</key>
		<string>から</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雲母坂</string>
		<key>shortcut</key>
		<string>きららざか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>整理</string>
		<key>shortcut</key>
		<string>せいり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よろしくお願い申し上げます。</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>りんご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>こまんど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>おぷしょん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>しふと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>こんとろーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏎</string>
		<key>shortcut</key>
		<string>えんたー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>ばっくすぺーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌦</string>
		<key>shortcut</key>
		<string>でりーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•</string>
		<key>shortcut</key>
		<string>てん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>…</string>
		<key>shortcut</key>
		<string>さんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>—</string>
		<key>shortcut</key>
		<string>だっしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>ちぇっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>```</string>
		<key>shortcut</key>
		<string>そーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>TODO</string>
		<key>shortcut</key>
		<string>とど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>FIXME</string>
		<key>shortcut</key>
		<string>ふぃくす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>NOTE</string>
		<key>shortcut</key>
		<string>のーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>!=</string>
		<key>shortcut</key>
		<string>いこーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&lt;=</string>
		<key>shortcut</key>
		<string>いか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&gt;=</string>
		<key>shortcut</key>
		<string>いじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>-&gt;</string>
		<key>shortcut</key>
		<string>やじるし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=&gt;</string>
		<key>shortcut</key>
		<string>やじるし2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>LGTM</string>
		<key>shortcut</key>
		<string>えるじーてぃーえむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>WIP</string>
		<key>shortcut</key>
		<string>うぃっぷ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ACK</string>
		<key>shortcut</key>
		<string>あっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>NACK</string>
		<key>shortcut</key>
		<string>なっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>https://</string>
		<key>shortcut</key>
		<string>えいちてぃーてぃーぴーえす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mailto:</string>
		<key>shortcut</key>
		<string>めーると</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>~/</string>
		<key>shortcut</key>
		<string>ほーむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>../</string>
		<key>shortcut</key>
		<string>うえ</string>
	</dict>
</array>
</plist>
